.pagination > ul > li > a:hover,
.pagination > ul > li > span:hover,
.pagination > ul > li > a:focus,
.pagination > ul > li > span:focus,
.pagination > ul > li > span.current,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.panel-primary > .panel-heading,
.breadcrumb,
blockquote,
blockquote.pull-right,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.form-control:focus,
.nav .open > a,
.nav .open > a:hover,
a.thumbnail:hover,
.nav-tabs.nav-stacked > li > a,
.owl-carousel .item a div span,
a.thumbnail:focus,
.post-wrapper-top h2,
.nav .open > a:focus,
#volume,
.title:before,
.post-meta a:hover,
.title:after,
.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page #content .quantity .minus {
  border-color: #29c3bf;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #29c3bf;
  border-bottom-color: #29c3bf;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #29c3bf;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body,
.navbar-default .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus,
.nav .caret {
  border-bottom-color: #29c3bf;
}
.nav li:hover,
.navbar-nav > li > a:hover,
.navbar-nav > li:hover,
.navbar-nav li:hover,
.nav li:hover,
.fhmm li:hover,
.panel-primary > .panel-heading + .panel-collapse .panel-body,
.navbar-default .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus,
.panel-primary > .panel-heading + .panel-collapse .panel-body,
.nav .caret,
.blue > li:hover > a,
.blue > li.active > a,
.top-bar-section .dropdown,
.top-bar-section .has-dropdown > a:after,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info {
  border-top-color: #29c3bf;
}
.dm-icon-effect-1 .dm-icon:after {
  box-shadow: 0 0 0 5px #29c3bf;
}
.children li a:hover,
.product-categories li a:hover,
.text-primary,
.panel-primary > .panel-heading,
.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus,
.nav > li > a:hover,
.nav > li > a:focus,
.accordion-heading .accordion-toggle > em,
.message span,
.services_lists_boxes_icon:after,
#cp-nav a:hover,
#cp-nav .hover > a,
#cp-nav .current > a,
#cp-nav .hover > a a:after,
#cp-nav .current a:after,
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge,
a,
.woocommerce .star-rating span:before,
.woocommerce-page .star-rating span:before,
.rating i,
.btn-link,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav > li > a:hover,
.nav > li > a:focus,
.check li:before,
.highlight,
.navbar-nav i,
.required,
.pricing li:before,
.theme_details h3,
.theme_overviews .icon-container i,
.top-bar-section ul li:hover > a,
.top-bar-section ul li.active > a,
.recent_posts li a.readmore,
.star-rating-applied,
div.star-rating:hover,
div.star-rating-readonly,
div.star-rating-hover,
div.star-rating-live,
.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before {
  color: #29c3bf;
}
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button {
  background: #29c3bf;
}
.pagination > .active > a,
.pagination > ul > li > span.current,
.pagination > ul > li > a:hover,
.pagination > ul > li > span:hover,
.pagination > ul > li > a:focus,
.pagination > ul > li > span:focus,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus,
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover,
.nav-tabs.nav-stacked > .active > a:focus,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pager li > a:hover,
.pager li > a:focus,
.label-primary,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.panel-success > .panel-heading,
.btn-primary,
.tagcloud a,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.topbar,
.progress-bar-danger,
.servicetitle hr,
.icn-container,
.no-touch .dm-icon-effect-1 .dm-icon.active,
.no-touch .dm-icon-effect-1 .dm-icon:hover,
.naver .naver-handle:before,
button,
.button,
.comment-reply-link,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.title:before,
.owl-carousel .item i,
#volume,
mark,
.edd-submit.button,
.edd-submit.button.gray,
.edd-submit.button:visited,
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count,
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count,
.dmtop,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before {
  background-color: #29c3bf;
}
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.services_lists_boxes_icon_none i:hover,
.services_lists_boxes_icon i:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  background: #29c3bf !important;
}
.transparent-wrap {
  background-color: rgba(34,34,34,0.6);
}
